/* SlideShow style */

header { 
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #2a2a2a;
	padding-top: 10px;
}

body {
	margin: auto;
	text-align: center;
	background-color: #2a2a2a;
}

.buttons-style {
	display: inline-block;
}

button {
	background-color: transparent;
	cursor: pointer; 
	border-style: none;
}

button img {
	height: 70px;
}

#image_container {
	display: inline-block;
	height: 340px;
	width: 970px;
}

.banner-image img {
	display: none;
	height: 445px;
	position: absolute;
}

.go-visible img {
	display: inline;
	height: 445px;
	position: absolute;
}

ul {
	height: 160px;
	width: 640px;
	display: inline-block;
	float: left;
}

li {
	text-decoration: none;
	display: inline;
	float: left;
	margin-top: 40px;
}

#credits {
	margin-top: 60px;
	font-size: 10px;
}