body {
    background-color: #3c3c3c;
}

h1 {
    color: #fff;
}

div {
    display: inline-block;
    vertical-align: bottom;
}

button {
    height: 400px;
    width: 70px;
    background-color: transparent;
    z-index:2;
    position: relative;
}

#left-button {
    display: none;
}

#right-button {
    display: none;
}

#container:hover #left-button {
    margin-right: -70;
    display: inline;
}

#container:hover #right-button {
    margin-left: -70;
    display: inline;
    z-index:2;
}
